.listsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    border: 1px solid silver;
    border-radius: 15px;
    overflow: hidden;
    margin: 50px auto;
    background-color: #f6f6f6;
    width: fit-content;
}

.search {
    margin-top: 80px;
    width: 300px;
    height: 30px;
    padding: 5px;
    background-color: #f6f6f6;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.search:focus {
    outline: none;
    border-color: white;
    background: white;
    box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}